@font-face {
  font-family: DLTRN Mono;
  src: url(/fonts/deltarune.ttf);
}

@font-face {
  font-family: DTM Mono;
  src: url(/fonts/DTM-Mono.otf);
}

@keyframes floating {
  0% {
    transform: translate(0, -7.5px);
  }
  50% {
    transform: translate(0, 7.5px);
  }
  100% {
    transform: translate(0, -7.5px);
  }
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.25vw;
  background: url(/images/test_bg1.png) fixed top center no-repeat;
  background-size: cover;
  background-color: rgb(20, 25, 27);
  color: rgb(210, 210, 210);
  font-family: DTM Mono;
  font-size: 1.25vmax;
}

.adeowazhere-header {
  width: 100%;
  align-self: center;
  text-shadow: 0px 0px 12px rgba(55, 200, 200, 0.7);
  background: linear-gradient(0deg, rgba(20, 25, 25, 0),rgba(20, 25, 25, 1));
  font-size: 2.5vmax;
}

#adeowazhere-banner {
  max-width: 80%;
  animation: floating 5s infinite;
}

.main {
  max-width: 90vmin;
  height: auto;
  align-items: center;
  align-self: center;
  background: linear-gradient(0deg, rgba(20, 25, 25, 0.9) 55%,rgba(0, 0, 0, 0));
  padding: 2vw;
}

h1 {
  font-family: DLTRN Mono;
}

.notes {
  font-size: 0.95vw;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

a, a:visited, a:active, a:link {
  color: inherit;
}

img {
  max-width: 80%;
  object-fit: contain;
  image-rendering: pixelated;
}

img:not(#adeowazhere-banner) {
  margin: 1.75vw;
  filter: sepia(1) brightness(80%) contrast(85%) saturate(180%) hue-rotate(145deg);
  transition: max-width 1s;
}

img:not(#adeowazhere-banner):hover {
  filter: sepia(0) brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg);
  max-width: 90%;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button  {
  border: solid rgb(75, 150, 160) 2px;
}

::-webkit-scrollbar {
  width: 1.25vw
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 150, 160)
}