body {
  background: url(https://i.ytimg.com/vi/tzlrg54UuWI/maxresdefault.jpg);
  color: rgb(210, 210, 210);
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

h1 {
  padding: 20px;
}

#main {
  margin:auto;
  width: 800px;
  height: 1000px;
  background-color: rgba(43, 35, 56, 0.7);
}