:root {
  --transparent: rgba(0, 0, 0, 0);
  --primary-colour: rgb(75, 150, 160);
  --secondary-colour: rgb(15, 30, 32);
  --text-colour: rgb(180, 210, 210);
  --shadow-colour: rgb(12, 14, 14);
}

@font-face {
  font-family: DLTRN Mono;
  src: url(/fonts/deltarune.ttf);
}

@font-face {
  font-family: DTM Mono;
  src: url(/fonts/DTM-Mono.otf);
}

@keyframes floating {
  0% {
    transform: translate(0, -0.75vh);
  }
  50% {
    transform: translate(0, 0.75vh);
  }
  100% {
    transform: translate(0, -0.75vh);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-size: 1.15em;
  text-align: center;
  font-family: DTM Mono;
  color: var(--text-colour);
  background-image: url(/images/test_bg1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--secondary-colour);
}

nav {
  z-index: 999;
}

header {
  width: 90vmin;
  padding: 1.25vw 2vmax;
  align-self: center;
  font-size: 2.75vw;
  background-color: var(--secondary-colour);
  border: 0.25rem solid var(--primary-colour);
}

nav header h1 {
  margin: 0px
}

#nav-links {
  align-self: center;
  width: 90vmin;
  padding: 2.5vmin;
}

#nav-links a {
  text-align: center;
  font-size: 1.45vmax;
  padding: 1vmin;
}

#floating-adeo {
  filter: sepia(0) brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg) 
          drop-shadow(1.5vmax 1.5vmax 0.5vmax var(--shadow-colour));
  animation: floating 5s infinite;
}

#floating-adeo:hover {
  max-width: 70vmin;
}

main {
  width: 90vmin;
  height: auto;
  padding: 2vmax;
  align-items: center;
  background-color: var(--secondary-colour);
  border: 0.25rem solid var(--primary-colour);
}

h1 {
  font-family: DLTRN Mono;
  text-shadow: 0px 0px 1vmax var(--primary-colour);
}

h2 {
  padding: 1vmin;
  margin-top: 3vmax;
  border: 0.25rem solid var(--primary-colour);
}

p {
  width: clamp(45ch, auto, 75ch);
  text-align: left;
}

.notes {
  font-size: 0.9em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

a, a:visited, a:active, a:link {
  color: inherit;
}

img {
  max-width: 70vmin;
  margin: 1vw;
  object-fit: contain;
  image-rendering: pixelated;
  filter: sepia(1) brightness(80%) contrast(85%) saturate(180%) hue-rotate(145deg)
          drop-shadow(1.25vmax 1.25vmax 1vmax var(--shadow-colour));
  transition: max-width 1s;
}

img:hover {
  filter: sepia(0) brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg) 
          drop-shadow(1.25vmax 1.25vmax 1vmax var(--shadow-colour));
  max-width: 75vmin;
}

#simons-button {
  margin: 0px;
  filter: sepia(1) brightness(80%) contrast(85%) saturate(180%) hue-rotate(145deg)
          drop-shadow(0px 0px 0px var(--shadow-colour));
}

#simons-button:hover {
  filter: sepia(0) brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg) 
          drop-shadow(0px 0px 0px var(--shadow-colour));
}

::-webkit-scrollbar {
  border: solid var(--primary-colour) 0.25rem;
}

::-webkit-scrollbar {
  width: 1.5vw
}

::-webkit-scrollbar-thumb {
  background: var(--primary-colour)
}